{{> header }}

<main role="main" class="container">
    <br><br><br>
    <div class="starter-template">
        <h1>{{title}}</h1>
    </div>
    {{#if chocolates}}
        <i>These are the chocolates you have in stock</i>
        <ul>
            {{#each chocolates}}
                <li>
                    <b>{{brand}} - {{name}} ({{origin_country}})</b> - Cocoa Content: {{cocoa_content}} - Alcohol Content: {{alcohol_content}} / Rs {{unit_price}} for {{weight}} grams - <b>{{stock_left}}</b> units left [<a href="/seller/edit/{{id}}">Edit</a>, <a href="/seller/delete/{{id}}">Remove Chocolate</a>]
                </li>
            {{/each}}
        </ul>
    {{else}}
        <i>No chocolates available just yet.</i>
    {{/if}}
</main>